<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/static/style_form.css}">
  <title>Editar Cardápio</title>
</head>
  <body style="text-align: center">
    <h2>EDITAR ITEM NO CARDÁPIO</h2>
      <form style="text-align: center"
            action="#"
            th:action="@{/atualizar-cardapio/{id}(id=${item_cardapio.id})}"
            th:object="${item_cardapio}"
            method="post">
        <label for="nome">Nome: </label>
        <input type="text" th:field="*{nome}" id="nome">
        <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
        <br/><br/>
        <label for="nome">Descrição: </label>
        <label for="descricao"></label><input type="text" th:field="*{descricao}" id="descricao">
        <span th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></span>
        <br/><br/>
        <label for="nome">Preço: </label>
        <label for="preco"></label><input type="text" th:field="*{preco}" id="preco">
        <span th:if="${#fields.hasErrors('preco')}" th:errors="*{preco}"></span>
        <br/><br/>
        <input type="submit" value="Editar">
      </form>
    <p><a href="/index" class="btn">Listar Restaurantes</a></p>
  </body>
</html>