<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/static/style_index.css}">
    <title>Lista de Restaurantes ADM</title>
</head>
    <div class="center">
        <body>
            <h2>Restaurantes PROVA1 ADMIN MarcoBarros</h2>
                <table class="table-index">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Cardápio</th>
                        <th>Editar</th>
                        <th>Remover</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="restaurante : ${restaurantes}">
                        <td th:text="${restaurante.nome}"></td>
                        <td><a class="btn-list" th:href="@{/cardapio-rest/{id}(id=${restaurante.id})}">Cardápio</a></td>
                        <td><a class="btn-edit" th:href="@{/editar-rest/{id}(id=${restaurante.id})}">Editar</a></td>
                        <td><a class="btn-remove" th:href="@{/remover-rest/{id}(id=${restaurante.id})}">Remover</a></td>
                    </tr>
                    </tbody>
                </table>
            <p><a href="/novo-restaurante" class="btn-add">Cadastrar novo restaurante</a></p>
        </body>
    </div>
</html>