<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/static/style_index.css}">
    <title>Lista de Restaurantes CONS</title>
</head>
    <body>
        <h2>Restaurantes PROVA1 CONSUMIDOR MarcoBarros</h2>
            <table class="table-index">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Cardápio</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="restaurante : ${restaurantes}">
                    <td th:text="${restaurante.nome}"></td>
                    <td><a class="btn-list" th:href="@{/cardapio-rest/{id}(id=${restaurante.id})}">Cardápio</a></td>
                </tr>
                </tbody>
            </table>
        <div class="center">
            <p><a href="/pedidos" class="btn-edit" >Listar Pedidos</a></p>
        </div>
    </body>
</html>